<footer>
  <mat-toolbar
    class="flex flex-col md:flex-row justify-content-center flex-wrap h-full p-2 tempStyle"
    color="secondary"
  >
    <div
      class="w-full flex align-items-center justify-content-center my-2 md:w-3"
    >
      <span
        ><img
          src="assets/logo2.svg"
          class="w-7rem sm:w-12rem"
          alt="Logo Mercado Chamba"
      /></span>
    </div>
    <div
      class="grid align-items-center justify-content-center text-center w-full md:w-6"
    >
      <a href="#" class="md:col-4 xl:col-2 mx-1">Contáctanos </a>
      <a href="#" class="md:col-4 xl:col-2 mx-1">Política de Privacidad </a>
      <a href="#" class="md:col-4 xl:col-2 mx-1">Terminos de uso </a>
      <a href="#" class="md:col-4 xl:col-2 mx-1">Mapa del sitio </a>
      <span class="col-12">Copyright ©2024 - ADPList</span>
    </div>
    <div class="flex justify-content-center w-full md:w-3 gap-1">
      <a href="">L</a><a href="">X</a><a href="">I</a><a href="">F</a>
    </div>
  </mat-toolbar>
</footer>
