<shared-header></shared-header>
<div class="login-container">
    <h2 class="login__title">Hola Bienvenido!!</h2>
    <form action="POST" class="login__form">
        <mat-form-field class="login__input-container">
            <mat-label>Correo Electronico</mat-label>
            <input type="email" matInput>
        </mat-form-field>
        <mat-form-field class="login__input-container">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput>
        </mat-form-field>
        <div class="login__form-actions">
            <a href="#">¿Olvidaste tu contraseña?</a>
            <a href="#">Registrate</a>
        </div>
        <button mat-flat-button color="primary" class="login__submit">
            Iniciar Sesión
        </button>
    </form>
    
</div>
<app-footer></app-footer>