.bigContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 2rem;
  max-width: 1200px;
  background-color: lightgreen;
}

.containerS {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.card {
  width: 274px;
  height: 371px;
  border-radius: 15px;
  border: 1px solid black;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &:hover {
    border: 1px solid orange;
  }

  img {
    width: 234px;
    height: 146px;
    border-radius: 10px;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
  }

  span {
    font-size: 14px;
  }
}
