<div>
  <app-filters></app-filters>
  <div class="bigContainer">
    <div class="containerS mx-auto" *ngFor="let i of profesionales">
      <div class="card">
        <img src="{{ i.picUrl }}" alt="" />

        <h1>{{ i.fullName }}</h1>
        <span
          ><i class="fa-solid fa-screwdriver-wrench"></i> {{ i.category }}</span
        >
        <span
          ><i class="fa-regular fa-comments"></i> Reseñas
          {{ i.cantReviews }}</span
        >
        <span>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <!-- <star-rating [rating]="2" [disabled]="true"></star-rating> -->
        </span>
      </div>
    </div>
  </div>
</div>
