.filterBox {
  color: white;
  background-color: #15363a;
  font-size: 14px;
  width: 121px;
  border-radius: 15px;

  &:hover {
    background-color: #db5e41;
  }
}

.applyFiltersButton {
  background-color: #15363a;
  color: white;
  padding: 2em;
  margin-left: 0.75em;
}

.primeFlexSucks {
  max-width: 1200px;
  margin: auto;
  padding-top: 1em;
}
